<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.lottocore.persistence.trend.area.dao.XyscDaoMapper">
	<sql id="Base_Table">
		TREND_HNSC_BASE 
	</sql>

	<sql id="Base_Column">
		issue,drawcode drawCode,
		b01,b02,b03,b04,b05,b06,b07,b08,b09,b10,b11,b12,btype
	</sql>
	
	<select id="findBaseTrend" parameterType="com.hhly.skeleton.lotto.base.lottery.vo.LotteryTrendVO" resultType="com.hhly.skeleton.lotto.base.trend.high.bo.XyscTrendBaseBO">
		select <include refid="Base_Column"/>
		from <include refid="Base_Table"/>
		where 1=1
		<if test="startIssue!=null">
			and issue >= #{startIssue}
		</if>
		<if test="endIssue!=null">
			and issue <![CDATA[ <= ]]>#{endIssue}
		</if> 
		order by issue desc
		<if test="qryCount!=null">
			limit #{qryCount}
		</if>
	</select>

</mapper>